// ABOUTME SCSS
#backgroundImage {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -845;
}

.aboutMeBG {
    padding-top: 100px;
    img {
        height: 75%;
        width: 75%;
    }
    z-index: -49;
}

#textBoth {
    width: 100em;
    height: 40em;
    padding-left: 125px;
    margin-top: -50px;
}

#am {
    color: $whiteColor;
}

#was {
    color: $whiteColor;
}

.amWas {
    padding-top: 100px;
}

//