// ABOUTME SCSS
#backgroundImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -845;
}

.aboutMeBG {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  img {
    height: 100%;
    width: 100%;
  }
}

#textBoth {
  width: 100em;
  height: 40em;
  padding-left: 125px;
  margin-top: -50px;
}

#am {
  height: 10em;
  width: 30em;
  padding-right: 78px;
}

#was {
  height: 10em;
  width: 30em;
}

.amWas {
  padding-top: 100px;
}

//
