/* media queries for screen-size relative styling*/

/* mediascreens */

@media screen and (min-width: 1px) and (max-width: 640px) {
    .viewWorkContainer {
        left: 25%;
        top: 60%;
    }
    .line {
        display: none;
    }
    #davidVizena {
        width: 20em;
        height: 10em;
        top: 15%;
        left: 10%;
        align-items: center;
    }
    .nav {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .viewWorkContainer {
        left: 37%;
    }
    .line {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .viewWorkContainer {
        left: 30%;
    }
    #davidVizena {
        top: 20%;
        left: 30%;
    }
}