/* media queries for screen-size relative styling*/

/* mediascreens */

@media screen and (min-width: 1px) and (max-width: 640px) {
  .viewWorkContainer {
    left: 25%;
    top: 60%;
    a:before {
      content: "";
      left: 29%;
    }
    a:after {
      content: "";
      left: 29%;
    }
  }
  .line {
    display: none;
  }
  #davidVizena {
    width: 20em;
    height: 10em;
    top: 15%;
    left: 10%;
    align-items: center;
  }
  .nav {
    width: 100%;
    left: 2%;
  }
  .contactContent {
    top: 85%;
    left: -9%;
  }
  .projects {
    width: 80%;
    height: 80%;
    padding-left: 25px;
    z-index: 0;
    overflow-y: visible;
    img {
      height: 10em;
      width: 17em;
    }
    #huddle {
      width: 0;
    }
    #zelda {
      width: 0;
    }
    #gundam {
      width: 0;
    }
    #harryPotter {
      width: 0;
    }
    #gifTastic {
      width: 0;
    }
    #trainSchedule {
      width: 0;
    }
    #liriNode {
      width: 0;
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .viewWorkContainer {
    left: 37%;
  }
  .line {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  .viewWorkContainer {
    left: 30%;
  }
  #davidVizena {
    top: 20%;
    left: 30%;
  }
}
