/* media queries for screen-size relative styling*/

/* mediascreens */

@media screen and (min-width: 1px) and (max-width: 640px) {
  .viewWorkContainer {
    left: 25%;
    bottom: 50%;
  }
  .line {
    display: none;
  }
  #davidVizena {
    width: 20em;
    height: 10em;
    top: 10%;
    left: 5%;
    align-items: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .viewWorkContainer {
    left: 37%;
  }
  .line {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  .viewWorkContainer {
    left: 32%;
  }
}
